.expense-detail {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 19.9%;
  height: calc(100vh - 75px);
  position: absolute;
  top: 76px;
  right: -100%;
  opacity: 1;
  transition: all 0.5s ease;
  padding: 10px 0;
  box-shadow: 1px 1px 3px gray;
}

.expense-detail.active {
  background-color: #f9f9f9;
  right: 0;
  opacity: 1;
  transition: all 0.5s ease;
  z-index: 0;
}

.close-exp {
  border: 1px solid red;
}
