.form-container {
  width: 450px;
  height: 420px;
  border: none;
  border-radius: 10px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 60px;
  padding: 35px;
  box-shadow: 3px 4px 8px gray;
  margin-top: 200px;
}

.signup-form-container {
  width: 450px;
  height: 550px;
  border: none;
  border-radius: 10px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 60px;
  padding: 35px;
  box-shadow: 3px 4px 8px gray;
  margin-top: 200px;
}

form {
  height: 100%;
  width: 100%;
}

.form-input-container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
}

.login-btn {
  padding: 10px;
  width: 100%;
  border: none;
  background-color: #03989e;
  border-radius: 3px;
  color: white;
  font-size: 16px;
}

.signup-btn {
  padding: 10px;
  width: 100%;
  border: none;
  background-color: #03989e;
  border-radius: 3px;
  color: white;
  font-size: 16px;
}

.form-input-container div {
  width: 100%;
}

.form-input-container input {
  padding: 10px;
  width: 100%;
  font-size: 16px;
}

.demo-login {
  background-color: #ffbd59;
  text-shadow: 0 -1px 0 #ffb649;
  width: 360px;
}
