.trip-detail-container {
  height: auto;
  min-height: 100%;
  position: absolute;
  width: 60%;
  /* border: 1px solid gray; */
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}

.trip-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 75px;
  position: relative;
  bottom: 100px;
  height: 796px;
  width: 100%;
  overflow: auto;
}

.trip-topbar {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eee;
  padding: 13px 10px 10px;
  border-bottom: 1px solid #ddd;
}

.img-name-wrapper {
  display: flex;
  align-items: center;
}

.trip-name {
  color: #333;
  margin: 0 2px;
  text-align: center;
}
.trip-img {
  height: 55px;
  width: 55px;
  border: 1px solid red;
  margin: 0 2px;
}

.trip-subbar {
  height: 40px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  background-color: #eee;
  padding: 13px 10px 10px;
  border-bottom: 1px solid #ddd;
}

.trip-members {
  display: flex;
}

.trip-member {
  padding: 0px 5px;
}

@media screen and (max-width: 969px) {
  .trip-detail-container {
    width: 561px;
  }
}

@media screen and (min-width: 1700px) {
  .trip-detail-container {
    width: 1030px;
  }
}

.subbar-balance {
  color: #5bc5a7;
  padding: 5px;
}

.subbar-balance.negative {
  color: #ff652f;
}
