.trip-detail-container {
  height: calc(100vh - 75px);
  width: 60%;
  /* border: 1px solid gray; */
  margin: 0 auto;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}

.trip-topbar {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eee;
  padding: 13px 10px 10px;
  border-bottom: 1px solid #ddd;
}

.img-name-wrapper {
  display: flex;
  align-items: center;
}

.trip-name {
  color: #333;
  margin: 0 2px;
  text-align: center;
}
.trip-img {
  height: 55px;
  width: 55px;
  border: 1px solid red;
  margin: 0 2px;
}

@media screen and (max-width: 969px) {
  .trip-detail-container {
    width: 561px;
  }
}

@media screen and (min-width: 1700px) {
  .trip-detail-container {
    width: 1030px;
  }
}
