.nav-container {
  background: #ffbd59;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  min-width: 581px;
  box-shadow: 1px 1px 3px gray;
}

.nav-logo h2 {
  padding: 7px;
  color: white;
}
.nav-menu-icon {
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
  color: rgb(98, 98, 98);
  width: 38px;
}

.nav-img-logo {
  height: 50px;
  width: 50px;
}

.nav-logo {
  display: flex;
}

.nav-menu-logo {
  display: flex;
  align-items: center;
}

/* .nav-profile {
  padding: 10px;
} */

.nav-drawer {
  display: none;
}

.nav-menu-items {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 15px;
  list-style: none;
  text-align: center;
  width: 25vw;
  justify-content: flex-end;
}

.nav-menu-item {
  text-decoration: none;
}

.nav-container {
  position: relative;
}

.nav-drawer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 19.9%;
  height: calc(100vh - 75px);
  position: absolute;
  top: 76px;
  left: -100%;
  opacity: 1;
  transition: all 0.5s ease;
  padding: 10px 0;
  box-shadow: 1px 1px 3px gray;
}

@media screen and (max-width: 969px) {
  .nav-drawer {
    width: 189.4px;
  }
}

.nav-drawer-links {
  text-align: center;
}

.nav-drawer.active {
  background-color: #f9f9f9;
  left: 0;
  opacity: 1;
  transition: all 0.5s ease;
  z-index: 0;
}

.nav-drawer li {
  width: 100%;
  /* border-left: 5px solid #ffbd59; */
  /* border: 1px solid red; */
  padding: 15px 0;
  /* margin: 5px 0; */
  cursor: pointer;
  color: rgb(131, 131, 131);
  font-weight: bold;
  border-bottom: 1px solid #ddd;
}

.nav-drawer li:hover {
  border-left: 5px solid #ffbd59;
  background-color: rgba(221, 221, 221, 0.76);
}

.friends {
  text-decoration: none;
  color: #838383;
}
